
#XPane{
    -fx-background-image: url('../images/mb/Figuras/x.png');
    -fx-background-size: 100% 100%;
}

#CirclePane{
    -fx-background-image: url('../images/mb/Figuras/circulo.png');
    -fx-background-size: 100% 100%;
}

#BackgroundPane{
    -fx-background-image: url('../images/mb/BackgroundMenu.jpg');
    -fx-background-size: 100% 100%;
}

#SelectionPane{
    -fx-background-image: url('../images/mb/SelectionMenu.jpg');
    -fx-background-size: 100% 100%;
}

#WhosFirstPane{
    -fx-background-image: url('../images/mb/WhosFirst.jpg');
    -fx-background-size: 100% 100%;
}


#SelectionModeButton{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 4;
    -fx-border-radius: 45px;
    -fx-background-radius: 45px; 
}

#SelectionModeButton:hover{
  -fx-background-color: #adadad;
}

#SelectionFigurePane:hover{
    -fx-border-color: #000;
    
}

#FirstPlayerSelectionPane{
    -fx-background-image: url('../images/mb/FirstPlayerSelection.jpg');
    -fx-background-size: 100% 100%;
}

#SecondPlayerSelectionPane{
    -fx-background-image: url('../images/mb/SecondPlayerSelection.jpg');
    -fx-background-size: 100% 100%;
}




